augmax>=0.3.4
equinox>=0.11.8
flatbuffers>=24.3.25
flax==0.10.2
fsspec[gcs]>=2024.6.0
gym-aloha>=0.1.1
imageio>=2.36.1
jax[cuda12]==0.5.3
jaxtyping==0.2.36
ml_collections==1.0.0
numpy>=1.22.4,<2.0.0
opencv-python>=4.10.0.84
#openpi-client
orbax-checkpoint==0.11.13
pillow>=11.0.0
sentencepiece>=0.2.0
torch==2.7.1
tqdm-loggable>=0.2
typing-extensions>=4.12.2
wandb>=0.19.1
filelock>=3.16.1
beartype==0.19.0
treescope>=0.1.7
transformers==4.53.2
rich>=14.0.0
polars>=1.30.0
pytest>=8.3.4
datasets==3.6.0
torchcodec==0.5
lerobot>=0.3.0,<0.4.0
matplotlib